
body {
    margin: 0;
    height: 100vh;
    padding: 0;
    border: 0;
    background-image: url(../images/wp6303627-girl-and-clock-wallpapers.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: hidden;


  }
  

  .container {
    
   
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    width: 500px;
    background-color:sandybrown;
    margin-left: 15%;
    /* border-radius: 20%; */
    height: 300px;
    opacity: 75%;
    border-end-end-radius: 20%;
    border-start-start-radius: 20%;
    
    
   
  }

  #clear {
    width: 70.5px;
  }